{% extends "template.html" %}

{% block content %}

<form method="POST">
    <h1>Digite os dados do contato</h1>
    <label>Nome:</label>
    <div><input type="text" name="nomecontato" value="{{contato.nome_contato}}" /></div>
    <label>Telefone:</label>
    <div><input type="text" name="telefone" value="{{contato.telefone}}"/></div>
    <label>Email:</label>
    <div><input type="text" name="email" value="{{contato.email}}"/></div>
    <label>Complemento:</label>
    <div><input type="text" name="complemento" value="{{contato.complemento}}"/></div>

    <div><button type="submit">Atualizar contato</button></div>
</form>
<div><a href="/"> Voltar</a></div>

{% end %}